node_modules
npm-debug.log
.env
.git
.gitignore
exports/*
!exports/.gitkeep
temp/*
!temp/.gitkeep
!temp/bg_previews
!temp/bg_previews/*
*.bat
*.vbs
scratch/
.system_generated/
backup_nodejs_bot.zip
__pycache__/
*.pyc
